.feature {

    min-height: 100dvh;
    height: 100dvh;
    width: 100%;

    .carousel-section {
        background-color: #8685EF;
        height: 100%;
        width: 100%;
    }

    .carousel-item {
        display: grid;
        grid-template-columns: 75% 25%;
        height: 100%;

        &__left {
            overflow: hidden;
            /* The big image */
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                padding-left: 30px;
                padding-right: 10%;
            }
        }

        &__right {
            display: grid;
            grid-template-rows: repeat(2, 1fr);

            &__upper-logo {
                position: relative;
                /* The img  */
                img {
                    position: absolute;
                    bottom: 15%;
                }
            }
        }

        .button {
            padding: 15px 25px;
            border : 1px solid white;
            border-radius: 5px;
        }
    }

    .parallax-scrolling-section {
        background-image: url('/gundam-manga-image.webp');
        min-height: 482px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}