.aboutCard {
    margin-top: 150px;
    height: 325px;
    position: relative;
    background: rgba(236, 232, 252, 1);
    color: black;
    border-radius: 5px;
    padding: 2%;

    .title {
        font-size: 2.5rem;
        margin-bottom: 25px;
        
    }

    img {
        position: absolute;
        bottom: -50%;
        left: 50%;
        transform: translate(-50%,-25%);
        height: auto;
        width: 266px;
    }

    @media (max-width : $mobile) {
        // height: 350px;
        padding: 6%;

        img {
            // height: 205px;
            width: 186px;
            transform: translate(-50%,50%);
            bottom: 0px;
        }
    }

    @media (max-width: $mobile-m) {
     
    }

    @media (max-width : $mobile-s) {
        height: 375px;

        img {
            width: 125px;
        }
    }
}